<table class="table table-hover table-bordered">
    {{content|html}}
    <tbody>
        <tr ms-repeat-demo="list">
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ms-duplex="checked" ms-attr-value="demo.region_id">
                        <span class="text"></span>
                    </label>
                </div>
            </td>
            <td>
                {{ $index+1 }}
            </td>
            <td>
                {{ demo.region_id }}
            </td>
            <td>
                {{ demo.region_name }}
            </td>
            <td>
                {{ demo.region_parent_id }}
            </td>
            <td>
                <a href="javascript:;" class="btn btn-info btn-xs" ms-click="edit(demo)"><i class="fa fa-edit"></i> Edit</a>
                <a href="javascript:;" class="btn btn-danger btn-xs" ms-click="del(demo)"><i class="fa fa-trash-o"></i> Delete</a>
            </td>
        </tr>
    </tbody>
</table>