<div class="row" ms-controller="gf-channel">
    <div class="col-xs-12 col-md-12">
        <ms:dialog $id="dialog_channel" ms-skip>
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                            <label>栏目名称</label>
                            <input type="text" class="form-control" ms-duplex="record.name">
                        </div>
                        <div class="form-group">
                            <label>学者姓名</label>
                            <input type="text" class="form-control" ms-duplex="record.author_name">
                        </div>
                        <div class="form-group">
                            <label>学者领域</label>
                            <input type="text" class="form-control" ms-duplex="record.author_field">
                        </div>
                        <div class="form-group">
                            <label>一句话简介</label>
                            <input type="text" class="form-control" ms-duplex="record.brief">
                        </div>
                        <div class="form-group">
                            <label>订阅数</label>
                            <input type="text" class="form-control" ms-duplex="record.store_count">
                        </div>
                        <div class="form-group">
                            <label>专栏头像图</label>
                            <input type="text" class="form-control" ms-duplex="record.tag.thumb">
                        </div>
                    </form>
                </div>
            </div>
        </ms:dialog>
        <ms:data-box $id="data-box_channel" on-init="dataBoxInit" config="data-box_config">
            <div slot="content" class="widget">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">专栏列表</span>
                </div>
                <div class="widget-body">
                    <form class="form-inline">
                        <ms:search-item label="名称" col="name"></ms:search-item>
                        <ms:search-item label="学者姓名" col="author_name"></ms:search-item>
                        <ms:search-item label="学者领域" col="author_field"></ms:search-item>
                        <ms:search-button class="btn btn-info">搜索</ms:search-button>
                    </form>
                    <div class="table-toolbar">
                        <button class="btn btn-info" ms-click="add">
                            <span class="fa fa-plus">
                            </span>新增专栏
                        </button>
                    </div>
                    <ms:table class="table table-hover table-bordered">
                        <div slot="header">
                            <ms:text-header col="id" text="栏目名"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="author_name" text="学者姓名"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="author_field" text="学者领域"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="brief" text="一句话简介"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="store_count" text="订阅数"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:action-header text="操作"></ms:action-header>
                        </div>
                    </ms:table>
                    <ms:pagination current-page="1" page-count="4"></ms:pagination>
                </div>
            </div>
        </ms:data-box>
    </div>
</div>