<div class="row" ms-controller="demo">
    <div class="col-xs-12 col-md-12">
        <ms:data-box $id="data-box_demo" on-init="dataBoxInit">
            <div slot="content" class="widget">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">地区列表</span>
                </div>
                <div class="widget-body">
                    <div class="table-toolbar" style="padding-top:0px;padding-bottom:10px">
                        <a href="javascript:void(0);" class="btn btn-default btn-info " ms-click="add">
                            <span class="fa fa-plus">
                            </span>新增地区
                        </a>
                    </div>
                    <ms:table class="table table-hover table-bordered">
                        <div slot="header">
                            <ms:check-header col="region_id" width="60"></ms:check-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="$outer.$index + 1" text="#"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="region_id" text="ID"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="region_name" text="Name"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="region_parent_id" text="PID"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:action-header text="操作"></ms:action-header>
                        </div>
                    </ms:table>
                    <ms:pagination current-page="1" page-count="4"></ms:pagination>
                </div>
            </div>
        </ms:data-box>
    </div>
</div>