<div class="row" ms-controller="demo">
    <div class="col-xs-12 col-md-12">
        <ms:dialog $id="dialog_demo" ms-skip>
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" placeholder="ID" ms-duplex="record.region_id">
                                <i class="glyphicon glyphicon-user circular"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" placeholder="Address" ms-duplex="record.region_name">
                                <i class="fa fa-envelope-o circular"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" placeholder="PID" ms-duplex="record.region_parent_id">
                                <i class="fa fa-lock circular"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="file" id="file_upload_1">
                        </div>
                    </form>
                </div>
            </div>
        </ms:dialog>
        <ms:data-box $id="data-box_demo" on-init="dataBoxInit" config="data-box_config">
            <div slot="content" class="widget">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">地区列表</span>
                </div>
                <div class="widget-body">
                    <form class="form-inline">
                        <ms:search-item label="ID" col="region_id"></ms:search-item>
                        <ms:search-item label="名称" col="region_name"></ms:search-item>
                        <ms:search-button class="btn btn-info">搜索</ms:search-button>
                    </form>
                    <div class="table-toolbar">
                        <button class="btn btn-info" ms-click="add">
                            <span class="fa fa-plus">
                            </span>新增地区
                        </button>
                    </div>
                    <ms:table class="table table-hover table-bordered">
                        <div slot="header">
                            <ms:check-header col="region_id" width="60"></ms:check-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="$outer.$index + 1" text="#"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="region_id" text="ID"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="region_name" text="名称"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:text-header col="region_parent_id" text="PID"></ms:text-header>
                        </div>
                        <div slot="header">
                            <ms:action-header text="操作"></ms:action-header>
                        </div>
                    </ms:table>
                    <ms:pagination current-page="1" page-count="4"></ms:pagination>
                </div>
            </div>
        </ms:data-box>
    </div>
</div>