<div class="row" ms-controller="demo">
    <div class="col-xs-12 col-md-12">
        <ms:data-box $id="data-box_demo" on-init="dataBoxInit">
            <div slot="content" class="widget">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">地区列表</span>
                </div>
                <div class="widget-body">
                    <div class="table-toolbar" style="padding-top:0px;padding-bottom:10px">
                        <a href="javascript:void(0);" class="btn btn-default btn-info " ms-click="add">
                            <span class="fa fa-plus">
                            </span>新增地区
                        </a>
                    </div>
                    <ms:table>
                        <thead slot="content">
                            <tr>
                                <th>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ms-duplex-checked="selected_all" ms-change="toggleCheckd()">
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </th>
                                <th>#</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>PID</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </ms:table>
                    <ms:pagination current-page="1" page-count="4"></ms:pagination>
                </div>
            </div>
        </ms:data-box>
    </div>
</div>